<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <!-- col 6 means the element take 6 grid box and offset-3 means leave the 3 grids of the left side so perfectly center cause 3+6+3 = 12 -->
    <p class="alert-heading"><%= message %></p>
  </div>
</div>
